

.home-testimonial-bottom {
   
  
    margin-bottom: 0px;
    position: relative;
    height: 200px;
    top: 140px
}


.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-inner {
    position: relative;
    top: -174px
}

.testimonial-pos {
    position: relative;
  
}

.testimonial-inner .tour-desc {
    border-radius: 5px;
    
}



.testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

