  <!--Main Navigation-->
  <header>
    <style>
      #intro {
        background-color: #303030;
     
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
       
      }

      .navbar .nav-link {
       
        color: #fff !important;
      }
    </style>

   

    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      
        
            <div class="container d-flex">
      

                
                <!--Section: Content-->
                <section class="text-center" id="cardapio">
                  
                   
                  <div class="row" style="margin-top: 150px;">
                    <h3  style="color: #fff; text-align: start;">Menu</h3>
                    <hr class="mb-5">
                    <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/pizzaSalgada.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">Pizzas salgadas</h5>
                         
                          <a href="#!" class="btn btn-danger">Ver sabores</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/pizzaDoce.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body " style="height: 100px;">
                          <h5 class="card-title">Pizzas doces</h5>
                         
                          <a href="#!" class="btn btn-danger">Ver sabores</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/Calzone.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">Calzones</h5>
                         
                          <a href="#!" class="btn btn-danger">Ver sabores</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin-top: 100px;">
                    <h3  style="color: #fff; text-align: start;">Bebidas</h3>
                    <hr class="mb-5">
                    <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/refrigerante.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">Refrigerantes</h5>
                         
                          <a href="#!" class="btn btn-danger">Pedir</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/suco.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body " style="height: 100px;">
                          <h5 class="card-title">Sucos</h5>
                         
                          <a href="#!" class="btn btn-danger">Pedir</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card" style="height: 300px;">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                          <img src="../assets/cerveja.jpg" class="img-fluid" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </a>
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">Cervejas</h5>
                         
                          <a href="#!" class="btn btn-danger">Pedir</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                </section>
                
               
          
                
            
           
          
          
               
              </div>
       
      
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->

 
 